{{set . "title" "New Shop"}}
{{template "header.html" .}}

<div class="content">
	<div class="container">
		<div class="col-md-3 col-xs-12">{{template "adminNav.html" .}}</div>
		<div class="col-md-9 col-xs-12">
			<h1 class="page-header">New shop</h1>
			<form action="{{url "Shops.Create"}}" method="POST">
				{{template "Shops/form.html" .}}
				<p class="buttons">
					<button class="btn btn-success" value="Save">
						<span class="glyphicon glyphicon-floppy-disk"></span>
						Save
					</button>
					<a class="btn btn-danger" href="{{url "Shops.AdminIndex"}}">
						<span class="glyphicon glyphicon-remove"></span>
						Cancel
					</a>
				</p>
			</form>
		</div>
	</div>
</div>

{{template "footer.html" .}}
