{{set . "title" "Edit Shop"}}
{{template "header.html" .}}

<div class="leader">
	<div class="container">
		<h1>
			Example shop name
			<small>by Miniand</small>
		</h1>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="page-heading">
			<h1>Edit Shop</h1>
		</div>

		<form action="{{url "Shops.Update"}} .Id" method="POST">
			{{template "Shops/form.html" .}}
			<p class="buttons">
				<input type="submit" value="Update" />
				<a class="button" href="{{url "Shops.Index"}}">Cancel</a>
			</p>
		</form>
	</div>
</div>

{{template "footer.html" .}}
