{{set . "title" "Shop"}}
{{template "header.html" .}}

<div class="content">
	<div class="container">
		<div class="page-header">
			<h1>Shops</h1>
		</div>
		<a href="/shops/new">New</a>
		<table>
			<tr>
				<th>Name</th>
				<th>Actions</th>
			</tr>
			{{range .shops}}
			<tr>
				<td>
					<a href="{{url "Shops.Show" .Id}}">{{.Name}}</a>
				</td>
				<td>
					<a href="{{url "Shops.Edit" .Id}}">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
					<a href="#" data-post="{{url "Shops.Delete" .Id}}" data-confirm="Are you sure you want to delete the shop {{.Name}}?">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</td>
			</tr>
			{{end}}
		</table>
	</div>
</div>

{{template "footer.html" .}}
