@font-face {
	font-family: Righteous;
	src: url('../fonts/Righteous-Regular.ttf');
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 24px;
	padding-top: 80px;
}

.logo {
	display: inline-block;
	border-radius: 50%;
	margin-top: -0.2em;
	width: 1.1em;
	height: 1.1em;
	vertical-align: middle;
}

.navbar-brand {
	font-family: Righteous, sans-serif;
}

h1.branded {
	font-family: Righteous, sans-serif;
}

.leader {
	padding-bottom: 50px;
}

.leader h1 {
	font-size: 56px;
	font-weight: bold;
	color: white;
	letter-spacing: 2px;
}

.leader h1 small {
	color: #333;
}

.content {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-image: url('../images/bg.png');
}

.content .container {
	background-color: white;
	border: 1px solid #999;
	margin-top: -16px;
	margin-bottom: -16px;
	border-radius: 8px;
	box-shadow: 0 0 10px #666;
	z-index: 100;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	background-color: #222;
	padding-top: 100px;
	padding-bottom: 30px;
	color: #666;
}

footer h4 {
	text-transform: uppercase;
}

.business-details {
	font-size: 14px;
	line-height: 20px;
}

.business-details th {
	text-align: center;
	padding-right: 8px;
}

.admin-nav {
	width: 100%;
}

.table-actions {
	float: right;
	margin-bottom: 12px;
}

.form-group label {
	width: 100%;
}