{{set . "title" "Products"}}
{{template "header.html" .}}

<div class="content">
	<div class="container">
		<div class="col-md-3 col-xs-12">{{template "adminNav.html" .}}</div>
		<div class="col-md-9 col-xs-12">
			<h1 class="page-header">Products</h1>
			<div class="btn-group table-actions">
				<a href="{{url "Products.AdminNew"}}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add product</a>
			</div>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Active</th>
					<th>Actions</th>
				</tr>
				{{range .products}}
				<tr>
					<td><a href="{{url "Products.AdminShow" .Id}}">{{.Name}}</a></td>
					<td>
						{{if .Active}}
						<span class="glyphicon glyphicon-ok"></span>
						{{end}}
					</td>
					<td>
						<a href="{{url "Products.AdminEdit" .Id}}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
						<a href="#" data-post="{{url "Products.Delete" .Id}}" data-confirm="Are you sure you want to delete the product {{.Name}}?" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
						<a href="{{url "Products.AdminIndex"}}" title="View product"><span class="glyphicon glyphicon-eye-open"></span></a>
					</td>
				</tr>
				{{end}}
			</table>
		</div>
	</div>
</div>

{{template "footer.html" .}}
