{{set . "title" "Product"}}
{{template "header.html" .}}

<div class="content">
	<div class="container">
		<div class="col-md-3 col-xs-12">{{template "adminNav.html" .}}</div>
		<div class="col-md-9 col-xs-12">
			<h1 class="page-header">
				Products: {{.product.Name}}
				<small>
					({{if .product.Active}}active{{else}}inactive{{end}})
				</small>
			</h1>
			<div class="btn-group table-actions">
				<a href="{{url "Products.AdminEdit" .product.Id}}" class="btn btn-primary">
					<span class="glyphicon glyphicon-edit"></span>
					Edit product
				</a>
			</div>
			<p><strong>Description: </strong>{{.product.Description}}</p>
			<div class="row">
				<div class="col-md-8 col-xs-12">
					<h3>
						Variants
						<a href="" class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-plus"></span>
							Add variant
						</a>
					</h3>
					{{range .variants}}
					{{end}}
				</div>
				<div class="col-md-4 col-xs-12">
					<h3>
						Shops
						<a href="{{url "ShopProducts.AdminNew"}}?productId={{.product.Id}}&amp;returnUrl={{url "Products.AdminShow" .product.Id}}" class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-plus"></span>
							Add to shop
						</a>
					</h3>
					<table class="table">
						<tr>
							<th>Shop</th>
							<th>Actions</th>
						</tr>
						{{$productId := .product.Id}}
						{{range .productShops}}
						<tr>
							<td>
								<span class="logo" style="background-color: {{hue .Hue}}"></span>
								<a href="{{url "Shops.AdminShow" .ShopId}}">{{.Name}}</a>
							</td>
							<td>
								<a href="" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
								<a href="#" data-post="{{url "ShopProducts.Delete" .Id}}?returnUrl={{url "Products.AdminShow" $productId}}" data-confirm="Are you sure you want to remove this product from the shop {{.Name}}?" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
							</td>
						</tr>
						{{end}}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "footer.html" .}}
